======== Add New Meetups Here ========

<form name = "form" method="post" action="/meetups">
  <br>Meetup Name: <input type="string" name='name' style = "color:black"/></br>
  <br>Meetup Description: <input type="string" name='description' style = "color:black"/></br>
  <br>Meetup Location: <input type="string" name='location' style = "color:black"/></br>
  <button type = 'submit' style = "color:black">Add</button>
</form>

