Add New Meetups Here

<form name = "form" method="post" action="/meetups">
  <br>Meetup Name: <input type="text" name='meetup[name]' style = "color:black"/></br>
  <br>Meetup Description: <input type="text" name='meetup[description]' style = "color:black"/></br>
  <br>Meetup Location: <input type="text" name='meetup[location]' style = "color:black"/></br>
  <button type = 'submit' style = "color:black">Add</button>
</form>

