<h1><%= @meetup.name%></h1>
<p><%= @meetup.location%></p>
<p><%= @meetup.description%></p>

<hr \>

<% if signed_in? && !current_user.meetups.include?(@meetup) %>
  <form name="form" action='/meetups/<%= @meetup.id%>/memberships' method = "post">
    <button type="submit" style = "color:black">Join</button>
  </form>
<%end%>





