<h1><%= @title %></h1>

All the Meetups
<hr \>

<% @meetups.each do |meetup|%>
<ul>
  <li><a href="meetups/<%=meetup.id%>"><%=meetup.name%></a></li>

</ul>
<% end%>

<hr \>

<a href="/meetups/new">Add a Meetup</a>

